.parallax-back {
    background-image: url("https://img.freepik.com/free-vector/spider-hang-web-forest-swamp-background-funny-character-smile-show-thumb-up-scenery-landscape-personage-comic-book-game-arthropod-insect-nature-cartoon-vector-illustration_107791-9494.jpg?w=1380&t=st=1689179797~exp=1689180397~hmac=077acb752ca0cef7812500891ebaed51976e3c054e6ed9806f1dd74b8bd65c03");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.text {
    color:black;
    vertical-align: middle;
}