:root{
    --primary: #009bd9;
}
.bg-primary{
    background-color: var(--primary) !important;
}
body {
    font-family: 'Inter', sans-serif;
    color:#333;
}
header {
    height:72px;
}
.card .card-body .card-title{
    color:#333;
}
body hr{
    border-top:rgba(153,)
}
footer{
    color:white;
}
footer .footer-logo{
    padding-right: 25px;
}