body {
    background-color: #bdc97d !important;
}
.header img {
    width: 100%;
    height: auto;
}
.footer img {
    width: 30%;
    height: auto;
}
.header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}