body {
  background-color: #FEFEFE !important;
}

.header img {
  width: 100%;
  height: auto;
}

.footer img {
  width: 30%;
  height: auto;
}

.header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
